<html>
    <head>
        <title>Remote Compilation</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>

        <h1>This is Login page</h1>
        
        <form action="/admin" method="POST">
            <input type="text" name="username" placeholder="username/Email">
            <input type="password" name="password" placeholder="password">
            <button>Submit</button>
        </form>

     </body>
</html>